*, *::before, *::after {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

.background-cover {}

#quote-box {}

#text {}

#author {}

.buttons-wrapper {}

a {}

button {}

button:hover {}